<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <nav class="navbar">
        <i class="fas fa-bars hamburger"></i>
        <li class="logo">Nikhil.</li>
        <ul class="navbar__links">
            <li><a class="navbar__link" href="/" href="#">Home</a></li>
            <li><a class="navbar__link" href="projects">Projects</a></li>
            <li><a class="navbar__link" href="services">Services</a></li>
            <li><a class="navbar__link" href="about">About</a></li>
            <li><a class="navbar__link contact active" href="contact">Contact</a></li>
        </ul>
    </nav>
    <div class="nav-mobile">
        <div class="nav-mobile-links">
            <ul>
                <li class="mobile-links"><a href="#">Home</a></li>
                <li class="mobile-links"><a href="#gallery">Gallery</a></li>
                <li class="mobile-links"><a href="#services">Services</a></li>
                <li class="mobile-links"><a href="#about">About</a></li>
                <li class="mobile-links"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="close-btn">
            <img src="images/close.png" alt="">
        </div>
    </div>