<footer class="footer">
    <div class="footer__main">
        <li class="logo">Nikhil.</li>
        <div class="footer__social">
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-github-1-48.png" alt=""></a>
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-linkedin-1-48.png" alt=""></a>
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-instagram-11-48.png" alt=""></a>
            </div>
            <ul class="footer__links">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
    </div>
    <div class="copyright__div">
        <p>@2021 | NikhilSaini.tech</p>
        <p>|</p>
        <p>Developed by Nikhil Saini</p>
    </div>
    </footer>
    <%- include("./footerMobile") -%>
    <script src="/js/index.js"></script>
</body>

</html>