<footer class="footerMobile__container">
    <div class="footerMain__mobile">
        <!-- <li class="logo">Nikhil.</li> -->
        <div class="footerSocial__mobile">
            <a href="https://github.com/c0derdx"><i class="fa-brands fa-github icons footer__icons"></i></a>
            <a href="https://www.linkedin.com/in/nikhil-saini-67072021b/"><i class="fa-brands fa-linkedin-in icons footer__icons"></i></a>
            <a href="https://www.instagram.com/coderdx/"><i class="fa-brands fa-instagram icons footer__icons"></i></a>
            </div>
            <ul class="footerLinks__mobile">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
    </div>
    <div class="copyrightDiv__mobile">
        <p>@2021 | NikhilSaini.tech | Developed by Nikhil Saini</p>
    </div>
        </div>
    </footer>