<footer class="footerMobile__container">
    <div class="footerMain__mobile">
        <!-- <li class="logo">Nikhil.</li> -->
        <div class="footerSocial__mobile">
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-github-1-48.png" alt=""></a>
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-linkedin-1-48.png" alt=""></a>
            <a href="#"><img class="icons footer__icons" src="images/icons/iconmonstr-instagram-11-48.png" alt=""></a>
            </div>
            <ul class="footerLinks__mobile">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
    </div>
    <div class="copyrightDiv__mobile">
        <p>@2021 | NikhilSaini.tech | Developed by Nikhil Saini</p>
    </div>
        </div>
    </footer>