<footer class="footer">
    <div class="footer__main">
        <li class="logo">Nikhil.</li>
        <div class="footer__social">
            <a href="https://github.com/c0derdx"><i class="fa-brands fa-github icons footer__icons"></i></a>
            <a href="https://www.linkedin.com/in/nikhil-saini-67072021b/"><i class="fa-brands fa-linkedin-in icons footer__icons"></i></a>
            <a href="https://www.instagram.com/coderdx/"><i class="fa-brands fa-instagram icons footer__icons"></i></a>
            </div>
            <ul class="footer__links">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
    </div>
    <div class="copyright__div">
        <p>@2021 | NikhilSaini.tech</p>
        <p>|</p>
        <p>Developed by Nikhil Saini</p>
    </div>
    </footer>
    <%- include("./footerMobile") -%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/cloud.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/canvas.js"></script>
</body>

</html>