<%-include("partials/aboutHeader")-%>
    <div class="about__container">
        <div class="about__left">
            <span class="rubber__heading">A</span>
            <span class="rubber__heading">b</span>
            <span class="rubber__heading">o</span>
            <span class="rubber__heading">u</span>
            <span class="rubber__heading">t</span>
            <span class="span__gap"></span>
            <span class="rubber__heading">M</span>
            <span class="rubber__heading">e</span>
            <h3>I am a somophore at Sushila Devi Bansal College of Engineering, India pursuing my undergrad in Computer
                Science Engineering. I am an enthusiastic learner with creative insights.</h3>

            <h3>Skills: HTML, CSS, JavaScript, JQuery, PHP, Bootstrap, TailwindCSS, Wordpress, EJS, NodeJS, MongoDB,
                React.js, C, C++, Java. </h3>

            <h3>Currently, working as a freelancer. I am always looking for opportunities that will nurture my passion
                for programming. I am eager to learn and explore different areas of technology.</h3>
            <a href="/contact">Let’s make something special.</a>
        </div>
        <div class="about__right" id="tag-cloud">
        </div>
    </div>
    <%-include("partials/aboutFooter")-%>