<%-include("partials/header")-%>

<div class="home__container">
        <div class="home__left">
            <h3>Hello I'm</h3>
            <span href="#" class="rubber__heading">N</span>
            <span href="#" class="rubber__heading">i</span>
            <span href="#" class="rubber__heading">k</span>
            <span href="#" class="rubber__heading">h</span>
            <span href="#" class="rubber__heading">i</span>
            <span href="#" class="rubber__heading">l</span>
            <span class="span__gap"></span>
            <span href="#" class="rubber__heading">S</span>
            <span href="#" class="rubber__heading">a</span>
            <span href="#" class="rubber__heading">i</span>
            <span href="#" class="rubber__heading">n</span>
            <span href="#" class="rubber__heading">i</span>
            <h2>Web Designer & Developer</h2>
            <a href=""><button class="btn__getInTouch">Get In Touch</button></a>
            <a href=""><button class="btn__resume">Resume</button></a>
        </div>
        <div class="home__right">
            <div class="profile__imageContainer">
                <img src="images/kenKaneki.png" alt="Profile image of Nikhil Saini" class="profile__image">
            </div>
            <div class="social__bar">
                <a href=""><img class="icons" src="images/icons/iconmonstr-email-4-48.png" alt=""></a>                
                <p class="vertical__text">Follow Me</p>
                <div class="socialBar__line"></div>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-github-1-48.png" alt=""></a>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-linkedin-1-48.png" alt=""></a>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-instagram-11-48.png" alt=""></a>
            </div>
            <img class="triangle" src="/images/iconmonstr-triangle-2-240.png" alt="">
            <img class="square" src="images/iconmonstr-shape-2-240.png" alt="">
        </div>
    </div>
    
<%-include("partials/footer")-%>