<%-include("partials/header")-%>

    <div class="home__container">
        <div class="home__left">
            <h3>Hello I'm</h3>
            <h1>Nikhil Saini</h1>
            <h2>Web Designer & Developer</h2>
            <button class="btn__getInTouch">Get In Touch</button>
        </div>
        <div class="home__right">
            <div class="profile__imageContainer">
                <img src="images/kenKaneki.png" alt="Profile image of Nikhil Saini" class="profile__image">
            </div>
            <div class="social__bar">
                <a href=""><img class="icons" src="images/icons/iconmonstr-email-4-48.png" alt=""></a>                
                <p class="vertical__text">Follow Me</p>
                <div class="socialBar__line"></div>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-github-1-48.png" alt=""></a>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-linkedin-1-48.png" alt=""></a>
                <a href="#"><img class="icons" src="images/icons/iconmonstr-instagram-11-48.png" alt=""></a>
            </div>
            <img class="triangle" src="/images/iconmonstr-triangle-2-240.png" alt="">
            <img class="square" src="images/iconmonstr-shape-2-240.png" alt="">
        </div>
    </div>
<%-include("partials/footer")-%>