<%-include("partials/header")-%>

<div class="home__container">
        <div class="home__left">
            <h3>Hello I'm</h3>
            <span class="rubber__heading">N</span>
            <span class="rubber__heading">i</span>
            <span class="rubber__heading">k</span>
            <span class="rubber__heading">h</span>
            <span class="rubber__heading">i</span>
            <span class="rubber__heading">l</span>
            <span class="span__gap"></span>
            <span class="rubber__heading">S</span>
            <span class="rubber__heading">a</span>
            <span class="rubber__heading">i</span>
            <span class="rubber__heading">n</span>
            <span class="rubber__heading">i</span>
            <h2>Web Designer & Developer</h2>
            <a href="/contact"><button class="btn__getInTouch">Get In Touch</button></a>
            <a href="https://www.buymeacoffee.com/nikhilsaini"><button class="btn__resume"><i class="fas fa-mug-hot"></i> Buy me a coffee</button></a>
        </div>
        <div class="home__right">
            <div class="profile__imageContainer">
                <img src="images/kenKaneki.png" alt="Profile image of Nikhil Saini" class="profile__image">
            </div>
            <div class="social__bar">
                <a href="/contact"><img class="icons" src="images/icons/iconmonstr-email-4-48.png" alt=""></a>                
                <p class="vertical__text">Follow Me</p>
                <div class="socialBar__line"></div>
                <a href="https://github.com/c0derdx"><i class="fa-brands fa-github icons socialBar__icons"></i></a>
                <a href="https://www.linkedin.com/in/nikhil-saini-67072021b/"><i class="fa-brands fa-linkedin-in icons socialBar__icons"></i></a>
                <a href="https://www.instagram.com/coderdx/"><i class="fa-brands fa-instagram icons socialBar__icons"></i></a>
            </div>
            <img class="triangle" src="/images/iconmonstr-triangle-2-240.png" alt="">
            <img class="square" src="images/iconmonstr-shape-2-240.png" alt="">
        </div>
    </div>
    
<%-include("partials/footer")-%>