<%-include("partials/servicesHeader")-%>
<div class="services__container">
    <div class="services__card">
        <div class="image__box">
            <img src="/images/—Pngtree—painted the brain png free_6224249.png" alt="" class="services__image">
        </div>
        <div class="content__box">
            <h3>UI/UX</h3>
            <h4>We know that design is an important factor. So, we give all our effort in this and make unique things.</h4>
            <button class="card__button">Contact</button>
        </div>
    </div>

    <div class="services__card">
        <div class="image__box">
            <img src="/images/oie_aUU5ByHXYdrx.png" alt="" class="services__image">
        </div>
        <div class="content__box">
            <h3>Web Development</h3>
            <h4>We know that design is an important factor. So, we give all our effort in this and make unique things.</h4>
            <button class="card__button">Contact</button>
        </div>
    </div>

    <div class="services__card">
        <div class="image__box">
            <img src="/images/pngaaa.com-2300554.png" alt="" class="services__image">
        </div>
        <div class="content__box">
            <h3>Digital Marketing</h3>
            <h4>We know that design is an important factor. So, we give all our effort in this and make unique things.</h4>
            <button class="card__button">Contact</button>
        </div>
    </div>
</div>
<%-include("partials/footer")-%>