.about__container {
    display: flex;
    max-width: 1200px;
    margin: 5.25rem auto;
    align-items: center;
}

h1 {
    color: #F54D71;
}

.about__left {
    width: 50%;
}

h3 {
    font-size: 1.1rem;
    margin: 1rem 0;
}

canvas {
    width: 100%;
    border-radius: 50%;
}

.box {
    background: #f3f3f4;
    padding: 10px 30px 30px 30px;
    margin: 20px;
}

.about__left a {
    color: #F54D71;
    transition: color 0.3s;
}

.about__left a:hover {
    color: #CE3D5C;
}

.about__right {
    width: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.about__right a:hover {
    cursor:default;
}

@media only screen and (max-width: 900px) {
    .about__container {
        flex-direction: column;
        justify-content: center;
    }

    .about__left {
        width: 100%;
    }

    .about__right {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .about__left {
        padding-left: 10px;
    }
}

@media only screen and (min-height: 980px) and (max-height: 1400px) {
    .navbar {
        height: 5vh;
    }

    .footer {
        height: 10vh;
    }

    .about__container {
        height: 85vh;
        align-items: center;
        margin: 0 auto;
    }
}