.about__container {
    display: flex;
    max-width: 1200px;
    margin: 8.25rem auto;
    align-items: center;
}

h1 {
    color: #F54D71;
}

.about__left {
    width: 50%;
    padding-left: 10px;
}

h3 {
    font-size: 1.1rem;
    margin: 1rem 0;
}

canvas {
    width: 100%;
    border-radius: 50%;
}

.box {
    background: #f3f3f4;
    padding: 10px 30px 30px 30px;
    margin: 20px;
}

/* Button D */

span.about__heading {
    display: inline-block;
    color: #F54D71;
    border-radius: 5px;
    text-decoration: none;
    font-size: 4rem;
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    letter-spacing: -10px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

span.about__heading:hover {
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.span__gap {
    display: inline-block;
    width: 0.85rem;
}

.about__left a {
    color: #F54D71;
    transition: color 0.3s;
}

.about__left a:hover {
    color: #CE3D5C;
}

.about__right {
    width: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.about__right a:hover {
    cursor:default;
}

@media only screen and (max-width: 900px) {
    .about__container {
        flex-direction: column;
        justify-content: center;
    }

    .about__left {
        width: 100%;
    }

    .about__right {
        width: 100%;
    }
}