/* body {
    overflow: hidden;
} */

@media only screen and (max-width: 900px) {

    body {
        overflow: unset;
    }

    .fireworks {
        display: none;
    }
}

@media only screen and (min-height: 980px) and (max-height: 1400px) {
    .navbar {
        height: 5vh;
    }

    .footer {
        height: 10vh;
    }

    .home__container {
        height: 85vh;
        align-items: center;
        margin: 0 auto;
    }
}


